In [62]:
import pandas as pd

In [64]:
# read the csv files 
df = pd.read_csv("../Datasets/all_years_happiness_data.csv")
df = df.drop(columns=["Log GDP per capita", "Social support", "Healthy life expectancy at birth", "Generosity"])
df.columns

Index(['Country name', 'year', 'Life Ladder', 'Freedom to make life choices',
       'Perceptions of corruption', 'Positive affect', 'Negative affect',
       'Confidence in national government'],
      dtype='object')

In [65]:
# checking how many null values are there in each column
df.isnull().sum()

Country name                           0
year                                   0
Life Ladder                            0
Freedom to make life choices          32
Perceptions of corruption            113
Positive affect                       24
Negative affect                       16
Confidence in national government    216
dtype: int64

In [67]:
# make a new dataframe that stores entries from 2014 onwards only 
df_main = df[df['year']>2014]

# rename some columns 
df_main = df_main.rename(columns={'Country name': 'Country'})

In [72]:
df_2015_2022 = pd.read_csv("../Datasets/Happiness_data_from_2015_to_2022.csv")
df_2015_2022

,Country,year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Generosity
0,Switzerland,2015,1,7.587,1.39651,1.34951,0.94143,0.29678
1,Iceland,2015,2,7.561,1.30232,1.40223,0.94784,0.43630
2,Denmark,2015,3,7.527,1.32548,1.36058,0.87464,0.34139
3,Norway,2015,4,7.522,1.45900,1.33095,0.88521,0.34699
4,Canada,2015,5,7.427,1.32629,1.32261,0.90563,0.45811
...,...,...,...,...,...,...,...,...
931,Tanzania,2022,139,3.702,0.84800,0.59700,42.50000,0.24800
932,Sierra Leone,2022,140,3.574,0.68600,0.41600,27.30000,0.20200
933,Zimbabwe,2022,144,2.995,0.94700,0.69000,27.00000,0.10600
934,Lebanon,2022,145,2.955,1.39200,0.49800,63.10000,0.08200
935,Afghanistan,2022,146,2.404,0.75800,0.00000,28.90000,0.08900

In [73]:
# this merges the data cleaned by Afnan with the dataset already present, so there are more variables we can have now

merged_df = pd.merge(df_main, df_2015_2022, on=['Country', 'year'], how='inner')
merged_df.to_csv("final_merged_data11.csv")

merged_df

,Country,year,Life Ladder,Freedom to make life choices,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Generosity
0,Afghanistan,2015,3.982855,0.388928,0.880638,0.491410,0.339276,0.260557,153,3.5750,0.319820,0.302850,0.303350,0.365100
1,Afghanistan,2016,4.220169,0.522566,0.793246,0.501409,0.348332,0.324990,154,3.3600,0.382270,0.110370,0.173440,0.312680
2,Afghanistan,2017,2.661718,0.427011,0.954393,0.435270,0.371326,0.261179,141,3.7940,0.401477,0.581543,0.180747,0.311871
3,Afghanistan,2018,2.694303,0.373536,0.927606,0.384561,0.404904,0.364666,145,3.6320,0.332000,0.537000,0.255000,0.191000
4,Afghanistan,2019,2.375092,0.393656,0.923849,0.324108,0.502474,0.341482,154,3.2030,0.350000,0.517000,0.361000,0.158000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
788,Zimbabwe,2017,3.638300,0.752826,0.751208,0.733641,0.224051,0.682647,138,3.8750,0.375847,1.083096,0.196764,0.189143
789,Zimbabwe,2018,3.616480,0.762675,0.844209,0.657524,0.211726,0.550508,144,3.6920,0.357000,1.094000,0.248000,0.132000
790,Zimbabwe,2019,2.693523,0.631908,0.830652,0.658434,0.235354,0.456455,146,3.6630,0.366000,1.114000,0.433000,0.151000
791,Zimbabwe,2020,3.159802,0.643303,0.788523,0.660658,0.345736,0.577302,151,3.2992,7.865712,0.763093,55.617260,-0.072064
792,Zimbabwe,2021,3.154578,0.667636,0.756945,0.609917,0.241682,0.665703,148,3.1450,7.943000,0.750000,56.201000,-0.047000

In [81]:
# reading in the mortality data 

df_mortality = pd.read_excel("../Datasets/mortality_data.xlsx")
df_mortality = df_mortality.drop(columns=["Female head of government"])
df_mortality = df_mortality.rename(columns={"Country name": "Country"})

In [110]:
# add happiness score and rank to these entries 
df_sub = df_2015_2022.loc[:,["Country","year","Happiness Score"]]
df_sub = df_sub[df_sub["year"]>2018]
df_sub = df_sub[df_sub["year"]<2021]

# now make 2 columns based on years
new_df = df_sub.pivot(index='Country', columns='year', values='Happiness Score')
new_df = new_df.reset_index()
new_df = new_df.rename(columns={'index': 'Country'})
new_df.columns = ['Country', 'Happiness Score 2019', 'Happiness Score 2020']

In [115]:
# merge the two dataframes based on country 

merged_mortality_df = pd.merge(df_mortality, new_df, on=['Country'], how='inner')
merged_mortality_df.to_csv("mortality_merged.csv")

In [116]:
merged_mortality_df

,Country,Population 2020,Population 2019,"COVID-19 deaths per 100,000 population in 2020",Median age,Island,Index of exposure to COVID-19 infections in other countries as of March 31,Log of average distance to SARS countries,WHO Western Pacific Region,Index of institutional trust,Gini coefficient of income,"All-cause death count, 2017","All-cause death count, 2018","All-cause death count, 2019","All-cause death count, 2020","Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average",Happiness Score 2019,Happiness Score 2020
0,United States,331002647.0,328239523.0,104.451401,38.299999,0,1.687503,9.314896,0,0.250043,47.51,2810927.0,2839076.0,2852747.0,3424996.0,179.219727,6.892,6.9396
1,Egypt,102334403.0,100388073.0,7.456900,25.299999,0,1.626675,9.006860,0,0.445924,31.56,NaN,NaN,NaN,NaN,NaN,4.166,4.1514
2,Morocco,36910558.0,36471769.0,20.016001,29.600000,0,2.336053,9.226011,0,0.397255,39.55,NaN,NaN,NaN,NaN,NaN,5.208,5.0948
3,Lebanon,6825442.0,6855713.0,21.507801,31.100000,0,1.891434,8.956014,0,0.106633,31.83,NaN,NaN,NaN,NaN,NaN,5.197,4.7715
4,Saudi Arabia,34813867.0,34268528.0,17.875101,31.900000,0,1.250483,8.896798,0,0.650619,45.90,NaN,NaN,NaN,NaN,NaN,6.375,6.4065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,Tunisia,11818618.0,11694719.0,39.564701,32.700001,0,3.017869,9.118126,0,0.129423,32.82,NaN,NaN,NaN,NaN,NaN,4.461,4.3922
113,United Arab Emirates,9890400.0,9770529.0,6.764100,34.000000,0,1.198980,8.821386,0,0.694008,38.30,NaN,NaN,NaN,NaN,NaN,6.825,6.7908
114,Uruguay,3473727.0,3461734.0,5.210500,35.599998,0,0.572469,9.711483,0,0.247441,39.25,NaN,NaN,NaN,NaN,NaN,6.293,6.4401
115,Uzbekistan,33469199.0,33580650.0,1.834500,28.200001,0,1.140722,8.620495,0,0.434861,39.70,160723.0,154913.0,154570.0,175637.0,56.380955,6.174,6.2576
116,Kosovo,1932774.0,1794248.0,68.916496,35.000000,0,3.134411,9.014949,0,0.169448,29.01,8738.0,8866.0,9552.0,11108.0,110.329376,6.100,6.3252