In [2]:
import pandas as pd

In [3]:
# read the csv files 
df = pd.read_csv("../Datasets/all_years_happiness_data.csv")
df.describe()

,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government
count,2089.000000,2089.000000,2062.000000,2076.000000,2031.000000,2057.000000,2009.000000,1976.000000,2065.000000,2073.000000,1873.000000
mean,2013.727621,5.473747,9.378408,0.811542,63.180326,0.745462,0.000102,0.746474,0.651421,0.270544,0.483914
std,4.455614,1.115567,1.143520,0.118935,6.948546,0.140751,0.161082,0.186136,0.105954,0.085849,0.191515
min,2005.000000,2.178809,5.526723,0.290184,6.720000,0.257534,-0.335739,0.035198,0.178886,0.082737,0.068769
25%,2010.000000,4.651972,8.473547,0.747664,58.965000,0.651689,-0.113172,0.689840,0.570057,0.207652,0.334808
50%,2014.000000,5.405246,9.463269,0.834770,64.980003,0.767357,-0.023366,0.801339,0.662837,0.260328,0.467046
75%,2017.000000,6.294282,10.347656,0.904682,68.362499,0.857677,0.090584,0.870789,0.737176,0.321706,0.616302
max,2021.000000,8.018934,11.665803,0.987343,74.349998,0.985178,0.706377,0.983276,0.883586,0.704590,0.993604

In [4]:
# checking how many null values are there in each column

df.isnull().sum()

Country name                           0
year                                   0
Life Ladder                            0
Log GDP per capita                    27
Social support                        13
Healthy life expectancy at birth      58
Freedom to make life choices          32
Generosity                            80
Perceptions of corruption            113
Positive affect                       24
Negative affect                       16
Confidence in national government    216
dtype: int64

In [5]:
# remove entries (rows) which have empty values in a cell
df.dropna(how='any',inplace=True)

In [6]:
# re-check
df.isnull().sum()

Country name                         0
year                                 0
Life Ladder                          0
Log GDP per capita                   0
Social support                       0
Healthy life expectancy at birth     0
Freedom to make life choices         0
Generosity                           0
Perceptions of corruption            0
Positive affect                      0
Negative affect                      0
Confidence in national government    0
dtype: int64

In [7]:
# make a new dataframe that stores entries from 2017 onwards only 
df_main = df[df['year']>2016]

In [19]:
#open the social support dataset 
df_social_support = pd.read_csv("../Datasets/social_support_data.csv")

df_social_support.describe()

              TIME        Value  Flag Codes
count  4342.000000  4342.000000         0.0
mean   2015.583372    89.964230         NaN
std       3.837800     5.306758         NaN
min    2006.000000    60.259479         NaN
25%    2012.000000    87.393492         NaN
50%    2016.000000    91.237158         NaN
75%    2019.000000    93.666428         NaN
max    2022.000000    99.890536         NaN

In [21]:
# which countries is the social support data available for?
df_social_support.LOCATION.unique()

array(['AUS', 'AUT', 'BEL', 'CAN', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU',
       'GRC', 'HUN', 'ISL', 'IRL', 'ITA', 'JPN', 'KOR', 'LUX', 'MEX',
       'NLD', 'NZL', 'NOR', 'POL', 'PRT', 'SVK', 'ESP', 'SWE', 'CHE',
       'TUR', 'GBR', 'USA', 'BRA', 'CHL', 'COL', 'CRI', 'EST', 'ISR',
       'LVA', 'LTU', 'RUS', 'SVN', 'ZAF'], dtype=object)